<!DOCTYPE html>
<html>
<head>
    <title>Пример веб-приложения на Python</title>
</head>
<body>
    <h1>Добро пожаловать!</h1>
    <p>Введите свое имя и адрес электронной почты:</p>
    <form action="/submit" method="post">
        <label for="name">Имя:</label>
        <input type="text" name="name" id="name"><br>
        <label for="email">Адрес электронной почты:</label>
        <input type="email" name="email" id="email"><br>
        <input type="submit" value="Отправить">
    </form>
</body>
</html>
